<div class="row g-4">
  <h1 class="text-center fs-1 mt-5">Facturas</h1>
  <hr>
  <app-invoice
    [invoice$]="allInvoices$"
    [showDetail]="showDetail"
    (showInvoiceEmitter)="showInvoice($event)"
  ></app-invoice>
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
      <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)"
        >Previous</a
      >
    </li>
    <li
      *ngFor="let pageNumber of pages"
      [ngClass]="{ active: currentPage === pageNumber }"
    >
      <a class="page-link" href="#" (click)="onPageChange(pageNumber)">{{
        pageNumber
      }}</a>
    </li>
    <li class="page-item" [ngClass]="{ disabled: currentPage === totalPages }">
      <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)"
        >Next</a
      >
    </li>
  </ul>

  <p>Current page: {{ currentPage }}</p>
</div>
