<footer class="bg-light border-top">
  <div class="container py-3">
    <div class="row row-cols-md-2 d-flex justify-content-center">
      <div class="col mb-3 mb-md-0 d-flex justify-content-center">
        <img
          src="../assets/logos/cuadree-logo.png"
          alt="Logo"
          class="rounded"
          style="width: 180px"
        />
      </div>
      <div class="col">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <ul class="list-unstyled text-center">
              <li>
                <a href="#" class="text-muted">Cuadros, marcos y lienzos</a>
              </li>
              <li>
                <a
                  href="https://cuadree.com/terminos-y-condiciones/"
                  class="text-muted"
                  >Términos y condiciones</a
                >
              </li>
            </ul>
          </div>
          <div class="row mt-2">
            <div class="col d-flex justify-content-center">
              <a href="https://www.facebook.com/cuadree/" target="_blank"
                ><i class="fab fa-facebook fa-lg mx-2"></i
              ></a>
              <a href="#" target="_blank"
                ><i class="fab fa-instagram fa-lg mx-2"></i
              ></a>
              <a href="#" target="_blank"><i class="fab fa-twitter fa-lg mx-2"></i></a>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col d-flex justify-content-center">
              <img
                src="https://secure.mlstatic.com/developers/site/cloud/banners/co/575x40_Todos-los-medios-de-pago.jpg"
                title="Mercado Pago - Medios de pago"
                alt="Mercado Pago - Medios de pago"
                width="287"
                height="20"
              />
            </div>
            <span class="text-center fw-bold mt-2"
              >PASARELA DE PAGOS 100% SEGURO</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-2 mt-2" style="background-color: #ccbaf2">
    <p class="m-0 fs-6">
      © <strong>2023 Cuadree.</strong>
      <em> - Cuadros y Lienzos | Powered by Cuadree by Cuadree</em>
    </p>
  </div>
</footer>
